<!doctype html>
<html lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- jQuery library -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<head>
    <title>Hacky Bois</title>
    <script src={{ url_for('static', filename='script/main.js') }}></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

   <title>Hacky Bois</title>
   <script src="../script/main.js"></script>
   <style href="../css/style.css" rel="stylesheet" type="text/css"></style>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script>

</script>
 </head>
<body>

<div class="float-right">
    <form action="/logout" class="needs-validation" method="post" novalidate>
        <button type="submit" class="btn btn-dark btn-lg right">Logout</button>
    </form>
</div>

<div class="float-left">
  <button type="button" class="btn btn-info btn-dark btn-lg right" data-toggle="modal" data-target="#business-modal">Offer</button>
</div>

<h3 class="container w-50 p-3 my-3 bg-dark text-white">Animal Rights Club</h3>
<div class="image-wrapper" style="text-align:center;">
    <img src="{{ url_for('static', filename='images/prof2.jpg') }}" class="img-thumbnail"
         style="width:20%; text-align:center;"/>
</div>

<div class="jumbotron text-center">

    <h3>Search Offers</h3>

    <form action="http://localhost:8080" method="POST">
        <input type="text" id="search" name="search">
        <input type="submit" class="btn btn-info" value="Search">
        <br><br>
    </form>
</div>
<div style="text-align:center;">
    <div class="tab1">
        <button class="btn btn-info" class="tablinks" onclick="openPage1(event, 'All')">All</button>
        <button class="btn btn-info" class="tab1links" onclick="openPage1(event, 'New')">New</button>
        <button class="btn btn-info" class="tab1links" onclick="openPage1(event, 'Recommended')">Recommended</button>
        <button class="btn btn-info" class="tab1links" onclick="openPage1(event, 'Pending')">Pending</button>
    </div>

    <div id="New" class="tab1content">
        <h3>New</h3>

        <button class="btn btn-info"><a
                href={{ url_for('static', filename='company_about.html') }} style="color:white;">ARFA: We have a grant
            available for any person or group that can implement a plan to resist Evil Corp's "Kill Animal Mandate".</a>
        </button>
        <br>

    </div>
    <div id="Recommended" class="tab1content">
        <h3>Recommended</h3>
        <button class="btn btn-info"><a href="#" style="color:white;">Temp Agency: Volunteer with us next week at our
            work fair for a chance to win a speaker</a></button>
        <br>
    </div>

    <div id="Pending" class="tab1content">
        <h3>Pending</h3>
        <button class="btn btn-info"><a href="#" style="color:white;">We have a grant available for any person or group
            that can implement a plan to resist Evil Corp's "Kill Animal Mandate".</a></button>
        <br>
    </div>

    <div id="All" class="tab1content">
        <h3>All</h3>
        <button class="btn btn-info"><a href="#" style="color:white;">ARFA: We have a grant available for any person or
            group that can implement a plan to resist Evil Corp's "Kill Animal Mandate".</a></button>
        <br>
        <br>
        <button class="btn btn-info"><a href="#" style="color:white;">Temp Agency: Volunteer with us next week at our
            work fair for a chance to win a speaker</a></button>
        <br>
        <br>
        <button class="btn btn-info"><a href="company_about.html" style="color:white;">We have a grant available for any
            person or group that can implement a plan to resist Evil Corp's kill animal bill.</a></button>
        <br>
        <br>
    </div>
</div>
</body>
</html>
