<!doctype html>
<html lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- jQuery library -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<head>
   <title>Hacky Bois</title>
{#   <script src="../script/main.js"></script>#}
   <script src={{ url_for('static', 'script/main.js') }}></script>
   <style href="{{ url_for('static', 'css/style.css') }}" rel="stylesheet" type="text/css"></style>
   <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
<body>

<!--
<h3>Search Offers</h3>
<form action="http://localhost:8080" method="POST">
  <input type="text" id="search" name="search">
  <input type="submit" value="Search">
  <br><br>
</form>

<form action="http://localhost:8080" method="POST">
  <button type="submit" id = "All" name="All" value="All">All</button>
  <button type="submit" id = "New" name="New" value="New">New</button>
  <button type="submit" id = "Recommendedl" name="Recommended" value="Recommended">Recommended</button>
  <button type="submit" id = "Pending" name="Pending" value="Pending">Pending</button>
  <br><br>
</form>
-->
<div class="image-wrapper">
   <img src=" {{ profile_picture }}" />
</div>
<h3>{{organization_name}}</h3>
<h3>Search Offers</h3>
<form action="http://localhost:8080" method="POST">
  <input type="text" id="search" name="search">
  <input type="submit" value="Search">
  <br><br>
</form>
<div class="tab1">
  <button class="tablinks" onclick="openPage1(event, 'All')">All</button>
  <button class="tab1links" onclick="openPage1(event, 'New')">New</button>
  <button class="tab1links" onclick="openPage1(event, 'Recommended')">Recommended</button>
  <button class="tab1links" onclick="openPage1(event, 'Pending')">Pending</button>
</div>
<div id="New" class="tab1content">
  <h3>New</h3>
  {% for new in new_offers %}
  <button><a href= "{{ offer_link }}">{{ new }}</a></button>
  <br>
  {% endfor %}
</div>
<div id="Recommended" class="tab1content">
  <h3>Recommended</h3>
  {% for recommended in recommended_businesses %}
  <button><a href="{{ offer_link }}">{{ recommended }}</a></button>
  <br>
  {% endfor %}
</div>

<div id="Pending" class="tab1content">
  <h3>Pending</h3>
  {% for pending in pending_businesses %}
  <button><a href="{{ offer_link }}">{{ pending }}</a></button>
  <br>
  {% endfor %}
</div>

<div id="All" class="tab1content">
  <h3>All</h3>
  {% for business in businesses %}
  <button><a href="{{ offer_link }}">{{ business }}</a></button>
  <br>
  {% endfor %}
</div>
</body>
</html>
