<!doctype html>
<html lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- 11564 -->
<head>
   <title>Hacky Bois</title>
   <script src="script/main.js"></script>
   <style href="style/style.css" rel="stylesheet" type="text/css"></style>
   <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>



<body>


  <h3>{{company_name}}</h3>
  <h3>Search Offers</h3>
  <form action="http://localhost:8080" method="POST">
    <input type="text" id="search" name="search">
    <input type="submit" value="Search">
    <br><br>
  </form>


  <!--
  <div class="tab">
    <button class="tablinks" onclick="openPage1(event, 'Dashboard')">Dashboard</button>


    <button class="tablinks" onclick="openPage1(event, 'Dashboard')">Offers</button>
    <button class="tablinks" onclick="openPage1(event, 'Dashboard')">Past Offers</button>

    <br><br>
  </form>
  </div>


  <div id="Dashboard" class="tabcontent">

    <h3>Dashboard</h3>

      <button type="submit" id = "Current" name="Current" value="Current">Current</button>
      <button type="submit" id = "Description" name="Description" value="Description">Description</button>
      <button type="submit" id = "Stats" name="Stats" value="Stats">Stats</button>
      <button type="submit" id = "Pending" name="Pending" value="Pending">Pending</button>

      <br><br>
  </div>

    <div id="Current" class="tabcontent">
    {% for offer in offers_current %}
    <button><a href={{offers_current_info}}>{{offer_current}}</a></button>
    <br>
    {% endfor %}
    </div>


    <div id="Description" class="tabcontent">
      {{company_description}}
    </div>
  -->

  <div class="tab1">

    <button class="tab1links" onclick="openPage1(event, 'All')">All</button>
    <button class="tab1links" onclick="openPage1(event, 'Current')">Current Offers</button>
    <button class="tab1links" onclick="openPage1(event, 'Completed')">Completed Offers</button>


  </div>


  <div id="New" class="tab1content">
    <button class="tab2links" onclick="openPage2(event, 'Current')">Current Offers</button>
    <button class="tab2links" onclick="openPage2(event, 'Description')">Company description</button>
    <button class="tab2links" onclick="openPage2(event, 'Stats')">Stats</button>
    <button class="tab2links" onclick="openPage2(event, 'Pending2')">Pending offers</button>
  </div>

  <div id="Current" class="tab2content">
      <h3>Current Offers</h3>
      {% for offer in offers_current %}
      <button><a href={{offers_current_info}}>{{offer_current}}</a></button>
      <br>
      {% endfor %}
  </div>

    <div id="Description" class="tab2content">
      <h3>Description</h3>
      <p>{{company_description}}</p>
    </div>

    <div id="Stats" class="tab2content">
      <h3>Stats</h3>
      {% for stat in stats %}
      <p>{{stat}}</p>
      <br>
      {% endfor %}
    </div>

    <div id="Pending2" class="tab2content">
      <h3>Pending</h3>
      {% for pending in pendings %}
      <p>{{stat}}</p>
      <br>
      {% endfor %}
    </div>




  <div id="All" class="tab1content">
    <h3>All</h3>
    {% for offer in offers %}
    <button><a href={{offers_current_info}}>{{offer}}</a></button>
    <br>
    {% endfor %}
  </div>

  <div id="Current" class="tab1content">
    {% for the_current in currents %}
    <button><a href={{offers_current_info}}>{{the_current}}</a></button>
    <br>
    {% endfor %}
  </div>

  <div id="Completed" class="tab1content">
    {% for complete in completed %}
    <button><a href={{offers_current_info}}>{{complete}}</a></button>
    <br>
    {% endfor %}
  </div>







<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
